.about-bg {
  background-color: #2e2c2cb4;
  width: 100%;
}
.about-bg h1 {
  text-align: center;
  color: #ffc506;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.about-section {
  margin: 0rem 1rem;
  padding: 2rem;
  display: inline-flex;
}
.img {
  align-items: center;
  margin-top: 70px;
}
.img img {
  width: 600px;
}

.about-section .para p {
  color: white;
  font-size: 1.5rem;
  line-height: 40px;
  margin: 1rem 2rem;
  padding: 2rem;
  border: 5px dotted #ffc506;
}

.clear {
  height: 3.5rem;
}
@media only screen and (max-width: 1068px) {
  .about-section {
    text-align: center;
    display: block;
    margin: 0;
    padding: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .about-section {
    border: none;
    display: inline-block;
  }
  .img img {
    width: 250px;
  }
  .about-section .para p {
    color: white;
    font-size: 1.1rem;
    line-height: 40px;
    margin: 1rem 1rem;
  }
}
